<mat-card class="card-auth">
    <form [formGroup]="userOrder">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field [style]="">
            <mat-label [style]="">
                Your name
            </mat-label>
            <input matInput
                   placeholder="Name"
                   [formControl]="userName" required>
        </mat-form-field>
        <mat-form-field appearance="fill"
                        [style]="">
            <mat-label [style]="">
                Your age
            </mat-label>
            <input matInput
                   [formControl]="userAge"
                   placeholder="age"
                   required>
        </mat-form-field>
        <p>
            <mat-label>
                Choose size
            </mat-label>
        </p>
            <mat-radio-group aria-label="Select an option" [formControl]="size">
                <mat-radio-button value="S">S</mat-radio-button>
                <mat-radio-button value="M">M</mat-radio-button>
                <mat-radio-button value="L">L</mat-radio-button>
                <mat-radio-button value="XL">XL</mat-radio-button>
            </mat-radio-group>
        <mat-form-field appearance="fill">
            <mat-label>Colors</mat-label>
            <mat-select [formControl]="color">
                <mat-option *ngFor="let color of colors" [value]="color.value">{{color.type}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-button [disabled]="userOrder.invalid"
                    (click)="onSaveInTable(userOrder)">
                Save
            </button>
        </div>
    </form>
    <button mat-button (click)="onShowTable()">show users orders</button>
</mat-card>
<div *ngIf="isTable">
    <app-user-table-order [userOrder]="order"></app-user-table-order>
</div>
