<mat-card class="card-auth">
    <form [formGroup]="userOrder">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field [style]="">
            <mat-label [style]="">
                Your name
            </mat-label>
            <input matInput
                   placeholder="Name"
                   [formControl]="userName" required>
        </mat-form-field>
        <mat-form-field appearance="fill"
                        [style]="">
            <mat-label [style]="">
                Your age
            </mat-label>
            <input matInput
                   type="number"
                   [formControl]="userAge"
                   placeholder="age"
                   required>
        </mat-form-field>
        <p>
            <mat-label>
                Choose size
            </mat-label>
        </p>
        <mat-radio-group aria-label="Select an option" [formControl]="size">
            <mat-radio-button value="S">S</mat-radio-button>
            <mat-radio-button value="M">M</mat-radio-button>
            <mat-radio-button value="L">L</mat-radio-button>
            <mat-radio-button value="XL">XL</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="fill">
            <mat-label>Colors</mat-label>
            <mat-select [formControl]="color">
                <mat-option *ngFor="let color of colors" [value]="color.value">{{color.type}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-button
                    [disabled]="size.invalid && color.invalid || size.untouched || color.untouched"
                    (click)="onSaveInTable(userOrder)">
                Save
            </button>
            <button mat-button
                    [disabled]=" userName.invalid
                    || userAge.invalid
                    || userAge.untouched || userName.untouched"
                    (click)="onSaveInDataBase(userOrder)">
                Send
            </button>
            <p *ngIf="errorMessage" style="color: red">
                {{errorMessage}}
            </p>
            <p *ngIf="userOrder.get('userName')?.errors?.pattern" style="color: red">
                Should be letters
            </p>
            <p *ngIf="userOrder.get('userAge')?.errors?.min" style="color: red">
                Age restrictions. Too young!
            </p>
            <p *ngIf="userOrder.get('userAge')?.errors?.max" style="color: red">
                Age restrictions. Too old!
            </p>
            <p *ngIf="capitalLetterError" style="color: red">
                {{capitalLetterError}}
            </p>
            <p *ngIf="notSingleWordError" style="color: red">
                {{notSingleWordError}}
            </p>
        </div>
    </form>
    <button mat-button (click)="onShowTable()">show users orders</button>
    <div *ngIf="usersPreOrders.length > 0 && !!preOrder">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
                <td mat-cell *matCellDef="let element, let i = index"> {{i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Size</th>
                <td mat-cell *matCellDef="let element"> {{element.size}} </td>
            </ng-container>
            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Color</th>
                <td mat-cell *matCellDef="let element"> {{element.color}} </td>
            </ng-container>
            <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Count</th>
                <td mat-cell *matCellDef="let element">{{element.count}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="usersTabOrders"></tr>
            <tr mat-row *matRowDef="let row; columns: usersTabOrders;"></tr>
        </table>

    </div>
</mat-card>

